<p id="notice"><%= notice %></p>
<% shop = Shop.find_by_id(@hall.shop_id)
   brand = Brand.find_by_id(shop.brand_id) %>
<div class="row">
  <div class="col s12 m4 l3">
    <h1><%= brand.name %></h1>
    <h2><%= shop.name %></h2>
    <h3><%= @hall.name %></h3>

    <blockquote>
      <b>Описание:</b>
      <%= @hall.description %>
    </blockquote>

    <p>
      <b>Масштаб:</b>
      <%= @hall.scale %>
    </p>
  </div>
  <div class="col s12 m8 l9">
    <h4>Карта:</h4>
    <div style="position: relative;">
      <%= image_tag @hall.map.url%>
      <%= image_tag 'marker.png', id: 'marker', style: 'position: absolute; display: none' %>
    </div>
  </div>
</div>
<ul class="collapsible popout" data-collapsible="accordion"><li>
  <div class="collapsible-header">Товары:</div>
  <div class="collapsible-body container">
    <div class="row">
      <% if @items
           @items.each do |item| %>
              <div class="col s12 m4" onMouseOut="mouseOut(this)"
                   onMouseOver="mouseOver(this, <%= item[:x] * @hall.scale %>, <%= item[:y] * @hall.scale %>)">
                <%= image_tag item[:image] %>
                <h5><i class="material-icons">shopping_basket</i><%= item[:name] %></h5>
                <p><%= item[:description] %></p>
              </div>
          <% end %>
      <% end %>
    </div>
  </div>
</li></ul>

<%= link_to 'Edit', edit_hall_path(@hall) %> |
<%= link_to 'Back', halls_path %>
