<h1>Ваши магазины:</h1>
<a class="waves-effect waves-light btn" style="margin-left: 23px;" href="/brands/new"><i class="material-icons">add</i>Создать Бренд</a>
<ul class="collapsible popout" data-collapsible="accordion">
  <% if brands = Brand.where(user_id: current_user.id)
       brands.each do |brand| %>
          <li>
            <div class="fixed-action-btn horizontal" style="position: relative;
                float: right; bottom: 37px; top: 3px;">
              <a class="btn-floating red">
                <i class="large mdi-navigation-menu"></i>
              </a>
              <ul>
                <li style="margin: 1px 15px;"><a class="btn-floating red" href="/shops/new?brand_id=<%= brand.id %>">
                  <i class="material-icons">add</i></a></li>
                <li style="margin: 1px 15px;"><a class="btn-floating blue" href="/brands/<%= brand.id %>/edit">
                  <i class="material-icons">settings</i></a></li>
              </ul>
            </div>

            <div class="collapsible-header"><i class="material-icons">business</i><%= brand.name %></div>
            <div class="collapsible-body">
              <p><%= brand.description %></p>
              <ul class="collapsible popout" data-collapsible="accordion">
                <% if shops = Shop.where(brand_id: brand.id)
                     shops.each do |shop| %>
                        <li>
                          <div class="fixed-action-btn horizontal" style="position: relative;
                              float: right; bottom: 37px; top: 3px;">
                            <a class="btn-floating red">
                              <i class="large mdi-navigation-menu"></i>
                            </a>
                            <ul>
                              <li style="margin: 1px 15px;"><a class="btn-floating red" href="/halls/new?shop_id=<%= shop.id %>">
                                <i class="material-icons">add</i></a></li>
                              <li style="margin: 1px 15px;"><a class="btn-floating blue" href="/shops/<%= shop.id %>/edit">
                                <i class="material-icons">settings</i></a></li>
                            </ul>
                          </div>

                          <div class="collapsible-header">
                            <i class="material-icons">store</i><%= shop.name %>
                          </div>
                          <div class="collapsible-body">
                            <p><%= shop.description %></p>
                            <ul class="collapsible popout" data-collapsible="accordion">
                              <% if halls = Hall.where(shop_id: shop.id)
                                   halls.each do |hall| %>
                                      <li>
                                        <div class="fixed-action-btn horizontal" style="position: relative;
                                            float: right; bottom: 37px; top: 3px;">
                                          <a class="btn-floating red">
                                            <i class="large mdi-navigation-menu"></i>
                                          </a>
                                          <ul>
                                            <li style="margin: 1px 15px;"><a class="btn-floating red" href="/items/new?hall_id=<%= hall.id %>">
                                              <i class="material-icons">add</i></a></li>
                                            <li style="margin: 1px 15px;"><a class="btn-floating blue" href="/halls/<%= hall.id %>/edit">
                                              <i class="material-icons">settings</i></a></li>
                                            <li style="margin: 1px 15px;"><a class="btn-floating green" href="/halls/<%= hall.id %>">
                                              <i class="material-icons">play_arrow</i></a></li>
                                          </ul>
                                        </div>

                                        <div class="collapsible-header">
                                          <i class="material-icons">location_on</i><%= hall.name %>
                                        </div>
                                        <div class="collapsible-body">
                                          <p><%= hall.description %></p>
                                          <ul class="collapsible popout" data-collapsible="accordion">
                                            <% if items = Item.where(hall_id: hall.id)
                                                 items.each do |item| %>
                                                    <li>
                                                      <div class="fixed-action-btn horizontal" style="position: relative;
                                                          float: right; bottom: 37px; top: 3px;">
                                                        <a class="btn-floating red">
                                                          <i class="large mdi-navigation-menu"></i>
                                                        </a>
                                                        <ul>
                                                          <li style="margin: 1px 15px;"><a class="btn-floating blue" href="/items/<%= item.id %>/edit">
                                                            <i class="material-icons">settings</i></a></li>
                                                        </ul>
                                                      </div>

                                                      <div class="collapsible-header">
                                                        <i class="material-icons">shopping_basket</i><%= item.name %>
                                                      </div>
                                                      <div class="collapsible-body">
                                                        <p><%= item.description %></p>
                                                      </div>
                                                    </li>
                                                <% end %>
                                            <% end %>
                                          </ul>
                                        </div>
                                      </li>
                                  <% end %>
                              <% end %>
                            </ul>
                          </div>
                        </li>
                    <% end %>
                <% end %>
              </ul>
            </div>
          </li>
      <% end %>
  <% end %>
</ul>
